<html>
<head>
    <title>Express App</title>
    <% include resources %>
</head>
<body>

    <div class="container">
            <% include header %>
        <div class="row">
           <div class="col-12">
            
                <h1> Product Updation Form</h1>
                <% include editProduct %>
              <a href="products">View Products</a><br/>
              <a href="/">Home</a><br/>
            </div>   
        </div><hr/>
        <% include footer %>
    </div>
</body>
</html>


