<html>
<head>
    <title>Express App</title>
    <% include resources %>
</head>
<body>

    <div class="container">
            <% include header %>
        <div class="row">
            <div class="col-12">
                    <% include newProduct %>
            </div>
               
        </div><hr/>
        <% include footer %>
    </div>
</body>
</html>


